/* 
    Created on : Mar 17, 2018, 8:11:58 PM
*/
/* Page Header Style*/
header  {                
    position:absolute;
    width: 100%;
    margin-top: 10px;
	margin-bottom: 10px;

} 

/*CCS for the logo */

.logo {
	
    margin-top:35px;
    height:150px; 
    width:315px; 
	text-align: center;

}
.logo:hover {
    opacity: 0.8; filter: alpha(opacity=30);}
.d{
     width: 70%;
   text-align: center;
    position:center;
    background-color:#0F9EA5;
	 margin-top:0px;
}

.menu {
    font-family: Futura;
    font-weight: bold;
    background-color:#0F9EA5;
    color: #ffffff;
    font-size: 12pt;
    border: none;
    cursor: pointer;
    position: relative;
    width: 176px;
    text-align: center;
    font-family: Futura;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;

}
.menu a:hover {
    color: #666666;
    text-decoration: none;
}