/* 
    Created on : Apr 5, 2018, 10:54:22 PM
    Author     : renad
*/
@font-face {
font-family: 'Cairo-reg';
src: url('../fonts/Cairo-Regular.ttf');
font-weight: normal;
}

@font-face {
font-family: 'Cairo-bold';
src: url('../fonts/Cairo-Bold.ttf');
font-weight: normal;
}

@font-face {
font-family: 'Cairo-two';
src: url('../fonts/Cairo-Light.ttf');
font-weight: normal;
}
.form-control:focus {
    border-color: #048e79 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: none;
}
.btn-success{
      background-color: #007e67 !important;
    outline: none;
    color: #fff;
    border-color: #007e67 !important;
    text-align: center !important;
}
.btn-success:hover{
    background-color: #096753 !important;
    outline: none;
    color: #fff;
    border-color: #096753 !important;
    text-align: center !important;

}
input:focus {
    outline: transparent !important;
}
.m-auto{
  margin: auto;
}
.w-full{
  width: 100%;
}
.input-group {
    text-align: right !important;
}
ul {
	    padding: 0 20px;
}
ul li {
	    padding: 5px 0;
}
.dir-rtl, select {
	direction: rtl;
}

.r-6 {
	border-radius:  6px;
}
.form-control {
	box-shadow: none;
	padding: 20px 10px;
}
.font-18 {
	    font-size: 18px !important;
}
    .event-list > li > time {

        color: rgb(255, 255, 255);
        background-color:#8db792 ;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        width: 150px;
        height: 130px;
        padding: 0px;
        margin: 0px;
        float: right;
    }
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px;
    }


    .event-list > li > .info {
        padding-top: 5px;

        overflow: hidden;
        position: relative;
        height: 100%;
        text-align: right;
        padding-right: 40px;
    }
.info {
	border: solid 2px #cbc000;
	    border-radius: 6px;
	    padding: 20px;
	    min-height: 350px;
	    transition: .3s all;
		margin-bottom: 30px;
}
/*.info:hover {
	background: #cbc000;
	transition: .3s all;	
}*/
.register-button {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 25px;
}
.pos-relative {
	position: relative;
}
.display-block {
	display: block !important;
}
.font-30 {
	font-size: 30px !important;
}
.font-20 {
	font-size: 20px !important;
}
h2 {
    font-size: 45px;
    font-family: 'Cairo-bold';
}
h3 {
		font-size: 35px;
	 font-family: 'Cairo-bold';
		
	}
.white-text {
	color: white !important;
}
.dark-green {
	color: #126447 !important;
}
.yellow-text {
	color: #cbc000 !important;
}
.inner-header {
	background: white !important;
	z-index: 99;
}
.social {
    padding: 6px 0;
    font-size: 16px!important;
}
.p-t-160 {
	    padding-top: 160px !important;
}
.p-b-50 {
	padding-bottom: 50px !important;
}
.p-t-22 {
	padding-top: 22px !important;
}

.p-b-20 {
	padding-bottom: 20px !important;
}
.p-t-20 {
	padding-top: 20px !important;
}
.p-y-20 {
	padding-bottom: 20px !important;
	padding-top: 20px !important;
}
.p-t-10 {
	padding-top: 10px !important;
}
.location-icons {
	font-size: 22px;
	padding-left: 10px;
	min-height: 60px;
    color: #008f79;
}
p {
	margin-right: 0 !important;
}
.p-r-l-51 {
	padding: 0 51px;
}
h3.sub-heading {
font-family: 'Cairo-bold';
color: #075532;
position: relative;
padding-bottom: 20px;
margin-bottom: 20px;
margin-right: 0;
}
h3.sub-heading:before{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 5px;
	background: #bfb400;
}
.main-cont {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 30px;
    position: relative;
    z-index: 9;
    padding: 30% !important;
    margin: auto;
    color: #fff;
    text-align: center;
}
.main-cont p {
    font-family: Cairo-bold;
	margin: 0;
}
.about-btn {
	background: #13674a;
	border: none;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Cairo-bold';
	transition: .3s all;	
}

.about-btn:hover {
  background: #0d583e;
  color: white;
  transition: .3s all;
}
.about-btn a, .about-btn:hover a, .about-btn a:hover {
	color: white !important;
	text-decoration: none;
}
.activities-btn {
	background: #ada638;
	border: none;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Cairo-bold';
	transition: .3s all;
	
}
.activities-btn:hover {
    background: #96902b;
    transition: .3s all;
}
.activities-btn a, .activities-btn:hover a, .activities-btn a:hover {
	color: white !important;
	text-decoration: none;
}
ul.nav.navbar-nav a {
    font-family: 'Cairo-bold';
}
h1 {font-size: 28pt;
    font-family: Cairo-reg;
    color: #cbc000;
    margin-right: 10pt;
}


h4 { 
    font-family: Cairo-reg;
    font-size: 2em;
}



body {  font-family: Cairo-reg;
        text-align: right ;      
} 
/* horizental line */
.Rectangle {
    width: 758px;
    height: 1px;
    background-color: #d8d8d8;
}
/*navigation menu style*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
    padding-top: 10px;
}
.float-left {
	float:  left;
}

/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
    z-index: 1;
}

.header-nav {
	position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
}
.container.header-nav .navbar {
    background: none !important;
}

#navbar9 {
    padding-top: 10px;
	padding-right: 85px;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}





.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}


.navbar {	
    margin-bottom: 15px;	
    margin-top: 5px;	
    background-color:#fff;	
    z-index: 9999;	
    border: 0;	
    font-size: 18px !important;	
    line-height: 4 !important;	
    border-radius: 0;


}
/*.navbar li a, .navbar .navbar-brand {	
    color: white !important;
}*/

.navbar-nav li a:hover ,.navbar-nav li.active a {	
    color:#8db792 !important;
background-color: transparent !important;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #8db792 !important;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

header.masthead {
      height: 100vh;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead.inner {
	  height: 47vh;
	  margin-bottom: 50px;
}
  
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.7;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/*back to the top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:#555;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height:30px;
}

#myBtn:hover {
    background-color: #7B7B7B;
}


/* login- sign up-forget password */
#form-container {

    width: 500px;
    height: 700px;
    padding: 5px;
    border-radius: 25px;
    background: #d1d1d1;
    background: linear-gradient(to bottom right, #1d682c , #44ac5a);
    margin-top:30px;
} 
#form-topcontainer {
    width: 490px;
    height: 80px;
    padding: 1px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #eaeaea;
    background: linear-gradient(to bottom right, #d1d1d1 , #ffffff);
    text-align: center;
}

.btn{
    text-align: center;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    background-color:#cbc000;
    color: #fcfcfc; 
    border: 1pt solid #cbbe2d;
    border-radius: 7px; 
    font-family: Cairo-reg;
}

.btn:hover {
    border: 1pt solid #b7a900;
    color:#c6b900;
    background-color: #b7a900;
    color: #fcfcfc;
    border-radius: 7px;
    text-decoration: none;
    font-family: Cairo-reg;  
}


/* Style the tab */
.tab {
    float: right;
    width: 20%;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    background-color: #fff;

}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: #fff;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    transition: 0.2s;
    font-family: Cairo-reg;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #8db792;
    color: white;
    border:0px solid #8db792;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #8db792;
    color: white;

}

/* Style the tab content */
.tabcontent { 
    width: 80%;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    padding:25px;
   
}

/* desgin table, th,tr,td*/
table {
    border-collapse: collapse;
    width: 70%;
    border-bottom-color: #297b39;
}

th, td {
    text-align: right;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffffff}

th {
    background-color:  #8db792;
    color: white;
    width: 30%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
  position: relative;
    right: 0;
    bottom: 0;
    left: 0;
 padding: 10px;
}
footer a {   color: white;
             cursor: pointer;}
footer a:hover {   color:  #8db792;}
.social a{
    width: 75px;
    height: 75px;
    cursor: pointer;
    text-align: center;
    margin :0 10px;   
    color: white;

}
.social a:hover {   color:  #8db792;}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 3.5em;
    color: #14B9D5;
    font-family: Cairo-reg;;
    font-weight: 700;
}
.site-title p {
    font-size: 1.6em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}


.about-inner-column p {
    font-size: 1.5em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}


.panel-login {
  border: none;
  box-shadow: none;
/*    border: solid 3px #006645;
    border-radius: 6px;
    box-shadow: none;*/
}
.panel-login>.panel-heading {
 
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none ;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
  
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"],.panel-login input[type="date"] ,.panel-login input[type="phone"] {
        height: 33px;
  border: 1px solid #ddd;
  font-size: 14px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
        text-align: center;
        
}


.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

.forgot-password {
    text-decoration: none;
      color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}



