/* 
    Created on : Apr 28, 2016, 10:05:31 PM
    Author     : Renad Juri and Nuha
*/
/* Page Header Style*/
header  {                
    position:absolute;
    width: 100%;
    margin-left:40px;
    margin-top: 10px;	
} 
/*Style for the container of the header*/	
.header1{           
    width: 100%;
    margin: 0 auto;
    position:relative;
    z-index: 3;
}  
.logo {
    margin-top:35px;
    height:100px; 
    width:315px; 
}
.logo:hover {
    opacity: 0.8; filter: alpha(opacity=30);}
.login {
    position:relative;
    float:right;
    margin-right: 10px;
    margin-top: 60px;
    font-weight: bold;
    font-size:13px;
}
/*Shopping cart & profile Icons Style*/	  
#icon                   
{ 
    float:right;
    margin-left: 1000px;
    color:cornflowerblue;
    font-weight: bold;
    font-size:11px;
    position: absolute;
    top: 15px;
}	
/*Shopping cart,help login Icons texts Style*/	
#icon a { 
    text-decoration: none;   
    margin-right: 2px;
    color:#7B7B7B;
    font-size:11px;
    padding: 0;
    margin: 0;
}
/*Shopping cart,help & admin login Icons texts hover Style*/
#icon a:hover{             
    color:cadetblue;
}
.icons_bar{
    width:45px;
    padding: 5px;
    float: right;
    text-align: center;
    position:absolute;
}
/* Search field*/
#search{
    top:180px;
    margin-left:790px;
    position:absolute;
    color: #666666;
    font-family: Futura;
    font-size: 12pt;
}
/*search button style author @NuhaKhayat*/
.s_button {
    text-align: center;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    background-color: white; 
    color: #0F9EA5; 
    border: 1pt solid #0F9EA5;
    border-radius: 3pt;
}
.s_button:hover {border: 1pt solid #666666;
                 color: #666666;
                 border-radius: 3pt;
                 text-decoration: none;
                 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.d{
    margin-left: 50px;
    margin-top: 160px;
    position:absolute;
    background-color:#0F9EA5;
}
.dicon{

    margin-left:  945px;
    margin-top: 155px;
    position:absolute;
}
.dicon a { 
    text-decoration: none;   
    margin-right: 2px;
    color:#7B7B7B;
    font-size:11px;
    padding: 0;
    margin: 0;
}
/*Shopping cart,help & admin login Icons texts hover Style*/
.dicon a:hover{             
    color:cadetblue;
}
.menu {
    font-family: Futura;
    font-weight: bold;
    background-color:#0F9EA5;
    color: #ffffff;
    font-size: 12pt;
    border: none;
    cursor: pointer;
    position: relative;
    width: 176px;
    text-align: center;
    font-family: Futura;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;

}
.menu a:hover {
    color: #666666;
    text-decoration: none;
}
/*CCS for the moving cart and items in the logo */
.sider_text {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    top:0px;
    text-align: left;
}
.cart_image {
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 4;
    width: 450px;
    height: 100px;
}
.item1_image {
    position: absolute;
    top: 0px;
    left: 365px;
    z-index: 1;
    height: 70px;
}
.item2_image {
    position: absolute;
    top: 0px;
    left: 405px;
    height: 85px;
    z-index: 3;
}
.item3_image {
    position: absolute;
    top: 0px;
    left: 410px;
    height: 70px;
    z-index: 2;
}
.item4_image {
    position: absolute;
    top: 0px;
    left: 385px;
    height: 100px;
    z-index: 2;
}
.item5_image {
    position: absolute;
    top: 0px;
    left:375px;
    height: 89px;
    z-index: 2;
}
/* CCS for the Tool Tip */
a.tooltips {position: relative;
            display: inline;
            text-decoration: none;
}
a.tooltips span{position: absolute;
                color: #FFFFFF;
                background: #0F9EA5;
                height: 27px;
                width: 180px;
                line-height: 30px;
                text-align: center;
                visibility: hidden;
                border-radius: 6px;
}
a.tooltips span:after{content: '';
                      position: absolute;
                      top: 50%;
                      right: 100%;
                      margin-top: -8px;
                      width: 0; height: 0;
                      border-right: 8px solid #0F9EA5;
                      border-top: 8px solid transparent;
                      border-bottom: 8px solid transparent;
}
a:hover.tooltips span {visibility: visible;
                       opacity: 0.8;
                       left: 100%;
                       top: 50%;
                       margin-top: -5px;
                       margin-left: 5px;
                       z-index: 999;
}