/* 
    Created on : Mar 21, 2016, 10:00:58 PM
    Author: Renad Emad Juri  2130009362 and Njoud Abdullah AlMansour 2130008151
*/
/*Style for the Page Body*/ 
body  {                   
    width: 1100px;
    margin: 0 auto;
} 
.body{
    background-color:#ffffff; 
    margin-top: 10px;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
/*Style for the page content*/ 
.content {                        
    padding: 10px;
    width: 95%;
    position:relative;
    top: 130px;
    height: 900px;
    margin-left: 20pt;
    margin-bottom: 20pt;
    margin-right: 20pt;
}
#slider_wrapper {
    width: 100%;
    height: 310px;
    padding: 15px 0px;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.25);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.25); 
}
.nivo-controlNav{
    display: none;
}
.title {position:relative;
        margin-left: 30pt;
        padding-top: 160pt;
        margin-bottom:0;
        border-top:  1px solid #E7E7E7;
}
/*Style for the page footer*/
footer {
    width: 1100px;
    font-weight:bold;
    text-align: center;
    color:#404040;
    bottom: -200px;
}
/*Style for the sitemap in footer*/
.LinksFooter{font-size: 10pt;
}
/*Style for the images inside the footer*/
.imgfooter { 
    width:25px;         
    height:25px;
    margin-top:1px;
}
.imgfooter:hover {
    opacity: 0.3; filter: alpha(opacity=30);}
/*Style for the titels author @NuhaKhayat*/
h1 {font-size: 30pt;
    font-family: Futura;
    color: #0F9EA5;
    margin-left: 10pt;
    z-index: 2;
    position: absolute;
}
p {font-size: 14pt;
   color: grey;
   font-family: Futura;
}
h2 {font-family: Futura;
    color: #0F9EA5;
    margin-left: 10pt;
}
a {text-decoration: none;   
   margin-right: 2px;
   color:cadetblue;
   font-size:13px;
}
a:hover{text-decoration: underline;
        color:#7B7B7B;
}
/*Style for the background titels author @NuhaKhayat*/
.img_background { padding: 0;
                  position: absolute;
                  height: 75pt;
                  z-index: 1;
                  text-align: center;
                  width: 530px
}
/*Buttons style author @NuhaKhayat*/
button { padding: 4pt 12pt;
         text-align: center;
         display: inline-block;
         font-size: 10pt;
         margin: 2pt 2pt;
         cursor: pointer;
         background-color: white; 
         color: #0F9EA5; 
         border: 1pt solid #0F9EA5;
}
button:hover {border: 1pt solid #666666;
              color: #666666;
              border-radius: 3pt;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
a{ text-decoration: none;
}




